.analytics {
    flex: 4;
    padding: 20px;
  
    @media (max-width: 768px) {
      .chartTitle {
        font-size: 18px;
        text-align: center;
      }
  
      .chartContainer {
        padding: 10px;
      }
    }
  }
  