.analytics {
    flex: 4;
    padding: 10px;
    background: linear-gradient(135deg, #fdf2e3, #f1f8ff);
    @media (max-width: 768px) {
      .chartTitle {
        font-size: 18px;
        text-align: center;
      }
  
      .chartContainer {
        padding: 10px;
      }
    }
  }
  